#register {
    text-align: -webkit-center;
    width: 35%;
    height: 60%;
    margin: auto;
}

#register > form {
    margin: 40px;
    display: table-caption;
    text-align: left;
}

#register > form > h1 {
    text-align: center;
    font-size: 30px;
    margin: 40px;
}

#register > form > div {
    text-align: center;
    margin: 10px 0;
}

#register > form > label > input {
    margin: 10px 0;
}

#register > div {
    text-align: center;
}