#home > h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

#home > div {
    text-align: right;
    margin: 10px;
}

#home > div > button:first-child{
    margin: 0 10px;
}

#home > div > button:nth-child(2){
    margin: 0 10px;
}