#home > h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

#home > div {
    margin: 10px;
    display: flex;
    height: 30px;
    justify-content: end;
}

#home > div > p {
    margin: 0;
    padding: 2px 0;
}

#home > div > button:first-child{
    margin: 0 10px;
}

#home > div > button:nth-child(2){
    margin: 0 10px;
}