* {
    font-size: 20px;
    color: black;
}

#login {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
}

#login > h1 {
    font-size: 30px;
    margin: 40px;
}

#login > form {
    margin: 40px;    
}

#login > form > label {
    margin: 0 5px;
}

#login > form > label > input {
    margin: 0 15px;
}

#login > p {
    margin: 10px;
}

#login > button {
    margin: 10px;
}